.popup-fields-container{
    margin: 40px 0;
}

.input-field{
    background: white;
    padding: 12px 36px;
    display: flex;
    flex-wrap: wrap;

    &.slim{
        max-width: 264px;
        width: auto;
    }
}

.add-user-input-grid{
    
}
.add-user-input-grid-header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 32px 0;
}

.input-label{
    display: block;
    color: $gray;
    @include text-12-semibold;
    width: 100%;
    line-height: 1;
    margin-bottom: 4px;
}

input{
    @include text-14-bold;
    border: 0;
    padding: 4px 0;
    line-height: 1;

    &::placeholder{
        color: $black;
        opacity: 0.5;
    }

}
input.input-field{
    background: white;
    padding: 24px 36px;
    display: inline-flex;
    flex-wrap: wrap;
    @include text-14-bold;
    border: 0;
    line-height: 1;
    width: 100%;
    &::placeholder{
        color: $black;
        opacity: 0.5;
    }

}

.input-field-group{ 
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.input-field-group .input-field{ 
    margin: 0 2px;
}

